<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_genericTemplate::headerfiles"></head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>Hospitals</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor:${doctors}">
        <td th:text="${doctor.id}">
        <td th:text="${doctor.name}">
        <td th:text="${doctor.specialty}">
    </tr>
    </tbody>
</table>
<p>Edit doctor</p>
<form th:action="@{/doctors/{id}}" method="post">
    <label>Insert id<input type="text" name="name"> </label>
    <label>Insert new name<input type="text" name="name"> </label>
    <label>Insert new specialty<input type="text" name="specialty"> </label>
    <input type="submit" value="Update doctor">
</form>

<div th:text="${doctorName}"></div>
<div th:text="${doctorSpecialty}"></div>
<div th:replace="_genericTemplate::footerfiles"></div>
</body>
</html>